:root {
  --primary100: #5f52ff;
  --primary200: #dddbfb;
  --error: #f74747;
  --gray900: #2f2f41;
  --gray800: #444455;
  --gray700: #6e6e7b;
  --gray600: #c0c0c6;
  --gray500: #d5d5d9;
  --gray400: #eaeaec;
  --gray300: #f7f7f8;
}
